extends layout.pug

block content
    div.container
        div.row
            h1 Announcements
            table.table.table-striped.table-responsive
                thead
                    tr
                        th Name
                        th Email
                        th Content
                        th Category
                        th Expiration date
                tbody
                    each announcement in announcements
                        tr
                            th= announcement.name
                            td= announcement.email
                            td= announcement.content
                            td= announcement.category
                            td= announcement.expirationDate
            a.btn.btn-info(href='/create' role='button') Go to Create announcement
